In [1]:
import requests

In [2]:
from bs4 import BeautifulSoup

In [3]:
'''
Get the page from the website and return the first 500 words of text
'''
url = 'https://buy.cars45.com/cars?filter=&year_from=1980&year_to=2019&page=2'
response = requests.get(url)
print(response.text[:500])

<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta http-equiv="Cache-Control" content="no-cache" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />
  <!-- <meta http-equiv="Cache-control" content="public"> -->
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> -->
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-sc

In [4]:
soup = BeautifulSoup(response.text, 'html.parser')

In [5]:
'''
Check and find within the soup of text generated by beautifulsoup from the website and return all divs with a class=product_box
'''
indi_car = soup.find_all('div', {'class':"product_box"})

In [6]:
grades = []
car_makes = []
car_use_conds = []
prices = []
mileages = []
years = []
car_ids = []
car_locations = []
indi_car_links = []

for each in indi_car:
    car_link = each.a.attrs['href']
    
    x = each.text
    import re
    pattern = re.compile(r'\s+')
    sentence = re.sub(pattern, '|', x)
    pat = sentence.split('|')
    pat = [line.strip() for line in pat]
    
   
    if 'New' in pat:
        grade = pat[1]
        car_make = ' '.join(pat[2:5])
        car_use_cond = pat[5]
        price = pat[7]
        mileage = pat[9]
        year = pat[12]
        car_id = pat[15]
        car_location =' '.join(pat[16:19])
        
    elif 'Sold' in pat:
        grade = pat[2]
        car_make = ' '.join(pat[3:6])
        car_use_cond = ' '.join(pat[5:7])
        price = pat[8]
        mileage = pat[10]
        year = pat[13]
        car_id = pat[16]
        car_location =' '.join(pat[17:20])
       
    else:
        grade = pat[1]
        car_make = ' '.join(pat[2:5])
        car_use_cond = ' '.join(pat[5:7])
        price = pat[8]
        mileage = pat[10]
        year = pat[13]
        car_id = pat[16]
        car_location =' '.join(pat[17:19])
        
    grades.append(grade) 
    car_makes.append(car_make) 
    car_use_conds.append(car_use_cond)
    prices.append(price)
    mileages.append(mileage)
    years.append(year)
    car_ids.append(car_id)
    car_locations.append(car_location)
    indi_car_links.append(car_link)

In [7]:
import pandas as pd

In [8]:
import pandas as pd

cars45 = pd.DataFrame({'grade': grades,
'car_make': car_makes,
'car_use_cond': car_use_conds,
'price': prices,
'mileage': mileages,
'year':years,
'car_id':car_ids,
'car_location':car_locations,
'indi_car_link':indi_car_links
                       
})
print(cars45.info())
cars45.head(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 9 columns):
grade            60 non-null object
car_make         60 non-null object
car_use_cond     60 non-null object
price            60 non-null object
mileage          60 non-null object
year             60 non-null object
car_id           60 non-null object
car_location     60 non-null object
indi_car_link    60 non-null object
dtypes: object(9)
memory usage: 4.3+ KB
None

,grade,car_make,car_use_cond,price,mileage,year,car_id,car_location,indi_car_link
0,E,2000 Toyota 4Runner,Nigerian Used,"671,000","260,983",2000,NG-445503,Mainland 1,https://buy.cars45.com/cars/toyota-4runner-200...
1,C,2009 Mercedes-Benz C300,Nigerian Used,"1,551,000","70,066",2009,NG-445391,Mainland 1,https://buy.cars45.com/cars/mercedes-benz-c300...
2,D,1995 Toyota Carina,Nigerian Used,"341,000","183,586",1995,NG-445492,Mainland 2,https://buy.cars45.com/cars/toyota-carina-1995...
3,E,2004 Peugeot 307,Foreign Used,"1,331,000","101,290",2004,NG-441809,Kano -,https://buy.cars45.com/cars/peugeot-307-2004-1...
4,A,Suzuki Swift 2019,New,"7,100,000",1,2019,NG-445478,SUZUKI Special Centre,https://buy.cars45.com/cars/suzuki-swift-2019-...
5,C,2003 Toyota Avalon,Foreign Used,"1,441,000","203,574",2003,NG-441835,Island -,https://buy.cars45.com/cars/toyota-avalon-2003...
6,D,2011 Toyota Yaris,Nigerian Used,"891,000","63,339",2011,NG-443879,Mainland 1,https://buy.cars45.com/cars/toyota-yaris-2011-...
7,D,Toyota Corolla 2003,Nigerian Used,"1,056,000","124,364",2003,NG-443709,Mainland 1,https://buy.cars45.com/cars/toyota-corolla-200...
8,D,2000 Lexus Es,Nigerian Used,"836,000","196,960",2000,NG-443848,Island -,https://buy.cars45.com/cars/lexus-es-2000-auto...
9,E,Lexus Rx 350,2007 Nigerian,₦,Mileage:,Year:,ID:,NG-444123 Mainland,https://buy.cars45.com/cars/lexus-rx-350-2007-...

In [9]:
cars45

,grade,car_make,car_use_cond,price,mileage,year,car_id,car_location,indi_car_link
0,E,2000 Toyota 4Runner,Nigerian Used,"671,000","260,983",2000,NG-445503,Mainland 1,https://buy.cars45.com/cars/toyota-4runner-200...
1,C,2009 Mercedes-Benz C300,Nigerian Used,"1,551,000","70,066",2009,NG-445391,Mainland 1,https://buy.cars45.com/cars/mercedes-benz-c300...
2,D,1995 Toyota Carina,Nigerian Used,"341,000","183,586",1995,NG-445492,Mainland 2,https://buy.cars45.com/cars/toyota-carina-1995...
3,E,2004 Peugeot 307,Foreign Used,"1,331,000","101,290",2004,NG-441809,Kano -,https://buy.cars45.com/cars/peugeot-307-2004-1...
4,A,Suzuki Swift 2019,New,"7,100,000",1,2019,NG-445478,SUZUKI Special Centre,https://buy.cars45.com/cars/suzuki-swift-2019-...
5,C,2003 Toyota Avalon,Foreign Used,"1,441,000","203,574",2003,NG-441835,Island -,https://buy.cars45.com/cars/toyota-avalon-2003...
6,D,2011 Toyota Yaris,Nigerian Used,"891,000","63,339",2011,NG-443879,Mainland 1,https://buy.cars45.com/cars/toyota-yaris-2011-...
7,D,Toyota Corolla 2003,Nigerian Used,"1,056,000","124,364",2003,NG-443709,Mainland 1,https://buy.cars45.com/cars/toyota-corolla-200...
8,D,2000 Lexus Es,Nigerian Used,"836,000","196,960",2000,NG-443848,Island -,https://buy.cars45.com/cars/lexus-es-2000-auto...
9,E,Lexus Rx 350,2007 Nigerian,₦,Mileage:,Year:,ID:,NG-444123 Mainland,https://buy.cars45.com/cars/lexus-rx-350-2007-...
10,D,2006 Land Rover,Lr3 Nigerian,₦,Mileage:,Year:,ID:,NG-443623 Mainland,https://buy.cars45.com/cars/land-rover-lr3-200...
11,Featured,C 2007 Toyota,4Runner Nigerian,₦,Mileage:,Year:,ID:,NG-443978 Mainland,https://buy.cars45.com/cars/toyota-4runner-200...
12,D,2005 Nissan Xterra,Nigerian Used,"781,000","80,417",2005,NG-443913,Mainland 2,https://buy.cars45.com/cars/nissan-xterra-2005...
13,Featured,D 2008 Honda,Accord Nigerian,₦,Mileage:,Year:,ID:,NG-443816 Island,https://buy.cars45.com/cars/honda-accord-2008-...
14,C,2004 Toyota Corolla,Nigerian Used,"1,331,000","211,309",2004,NG-444017,Mainland 2,https://buy.cars45.com/cars/toyota-corolla-200...
15,E,2009 Ford Explorer,Foreign Used,"2,541,000","163,490",2009,NG-443827,Mainland 1,https://buy.cars45.com/cars/ford-explorer-2009...
16,E,1991 Toyota Corolla,Nigerian Used,"286,000","365,988",1991,NG-443969,Abuja -,https://buy.cars45.com/cars/toyota-corolla-199...
17,C,2014 Kia Cerato,Nigerian Used,"2,431,000","36,535",2014,NG-443607,Mainland 1,https://buy.cars45.com/cars/kia-cerato-2014-au...
18,D,2003 Mercedes-Benz E320,Nigerian Used,"1,056,000","222,597",2003,NG-443971,Abuja -,https://buy.cars45.com/cars/mercedes-benz-e320...
19,D,2009 Toyota Corolla,Nigerian Used,"1,331,000","181,974",2009,NG-444099,Mainland 2,https://buy.cars45.com/cars/toyota-corolla-200...
20,D,2006 Honda Accord,Nigerian Used,"561,000","83,838",2006,NG-443938,Mainland 1,https://buy.cars45.com/cars/honda-accord-2006-...
21,D,2006 Toyota Camry,Nigerian Used,"1,111,000","189,067",2006,NG-444024,Mainland 2,https://buy.cars45.com/cars/toyota-camry-2006-...
22,C,2004 Pontiac Vibe,Foreign Used,"1,661,000","182,624",2004,NG-443891,Kano -,https://buy.cars45.com/cars/pontiac-vibe-2004-...
23,C,2007 Lexus Es,350 Nigerian,₦,Mileage:,Year:,ID:,NG-444079 Mainland,https://buy.cars45.com/cars/lexus-es-350-2007-...
24,E,2010 Acura Tsx,Nigerian Used,"1,881,000","125,419",2010,NG-444040,Island -,https://buy.cars45.com/cars/acura-tsx-2010-aut...
25,D,2009 Toyota Avensis,Nigerian Used,"1,221,000","116,756",2009,NG-444087,Island -,https://buy.cars45.com/cars/toyota-avensis-200...
26,C,2006 Honda Accord,Accord Nigerian,₦,Year:,ID:,Center,,https://buy.cars45.com/cars/honda-accord-2006-...
27,D,1997 Toyota Avalon,Nigerian Used,"286,000","286,762",1997,NG-443628,Mainland 1,https://buy.cars45.com/cars/toyota-avalon-1997...
28,D,2004 Honda Accord,Nigerian Used,"726,000","306,601",2004,NG-444029,Kano -,https://buy.cars45.com/cars/honda-accord-2004-...
29,C,2009 Honda City,Nigerian Used,"890,000","118,907",2009,NG-443626,Mainland 1,https://buy.cars45.com/cars/honda-city-2009-ma...
30,C,2010 Honda Accord,Crosstour Nigerian,₦,Mileage:,Year:,ID:,NG-443764 Abuja,https://buy.cars45.com/cars/honda-accord-cross...
31,Featured,C 2008 BMW,5 Series,Used,"1,881,000",Km,Car,ID: NG-444080,https://buy.cars45.com/cars/bmw-5-series-2008-...
32,C,2003 Toyota 4Runner,Nigerian Used,"1,331,000","147,500",2003,NG-443983,Mainland 2,https://buy.cars45.com/cars/toyota-4runner-200...
33,D,2012 Hyundai Elantra,Nigerian Used,"1,111,000","62,028",2012,NG-444054,Mainland 2,https://buy.cars45.com/cars/hyundai-elantra-20...
34,C,2005 Toyota Sienna,Nigerian Used,"1,331,000","73,330",2005,NG-443696,Mainland 1,https://buy.cars45.com/cars/toyota-sienna-2005...
35,E,2006 Mercedes-Benz R350,Nigerian Used,"781,000","82,595",2006,NG-443900,Island -,https://buy.cars45.com/cars/mercedes-benz-r350...
36,C,2008 BMW X6,Nigerian Used,"9,911,000","49,598",2008,NG-444007,Abuja -,https://buy.cars45.com/cars/bmw-x6-2008-ng-444...
37,C,1999 Mercedes-Benz S320,Nigerian Used,"1,991,000","188,250",1999,NG-444059,Abuja -,https://buy.cars45.com/cars/mercedes-benz-s320...
38,C,2004 Toyota Solara,Nigerian Used,"1,111,000","169,525",2004,NG-443777,Island -,https://buy.cars45.com/cars/toyota-solara-2004...
39,D,2010 Honda Accord,Nigerian Used,"1,221,000","157,810",2010,NG-444055,Mainland 2,https://buy.cars45.com/cars/honda-accord-2010-...
40,D,1999 Lexus Rx,300 Nigerian,₦,Mileage:,Year:,ID:,NG-443803 Mainland,https://buy.cars45.com/cars/lexus-rx-300-1999-...
41,D,2004 Peugeot 607,Nigerian Used,"506,000","206,587",2004,NG-443787,Mainland 1,https://buy.cars45.com/cars/peugeot-607-2004-n...
42,Featured,D 2007 Toyota,Camry Nigerian,₦,Mileage:,Year:,ID:,NG-444062 Mainland,https://buy.cars45.com/cars/toyota-camry-2007-...
43,C,2004 Lexus Rx,330 Nigerian,₦,Mileage:,Year:,ID:,NG-444021 Onitsha,https://buy.cars45.com/cars/lexus-rx-330-2004-...
44,C,2007 Ssangyong Rexton,Nigerian Used,"781,000","135,671",2007,NG-443962,Mainland 2,https://buy.cars45.com/cars/ssangyong-rexton-2...
45,C,2009 Toyota Corolla,Nigerian Used,"1,661,000","116,197",2009,NG-443655,Mainland 2,https://buy.cars45.com/cars/toyota-corolla-200...
46,E,1999 Honda Accord,Nigerian Used,"451,000","160,954",1999,NG-444117,Abuja -,https://buy.cars45.com/cars/honda-accord-1999-...
47,C,2016 Toyota Corolla,Nigerian Used,"4,961,000","20,203",2016,NG-443387,Mainland 1,https://buy.cars45.com/cars/toyota-corolla-201...
48,Featured,E 2007 Toyota,Camry Nigerian,₦,Mileage:,Year:,ID:,NG-443869 Mainland,https://buy.cars45.com/cars/toyota-camry-2007-...
49,E,2000 Toyota 4Runner,Nigerian Used,"396,000","30,026",2000,NG-443977,Mainland 2,https://buy.cars45.com/cars/toyota-4runner-200...
50,C,2001 Lexus Rx,300 Nigerian,₦,Mileage:,Year:,ID:,NG-444000 Sango-Ota,https://buy.cars45.com/cars/lexus-rx-300-2001-...
51,D,2005 Toyota Sienna,Nigerian Used,"1,111,000","194,434",2005,NG-444058,Mainland 2,https://buy.cars45.com/cars/toyota-sienna-2005...
52,C,2006 Toyota 4Runner,Nigerian Used,"2,211,000","58,123",2006,NG-444051,Mainland 1,https://buy.cars45.com/cars/toyota-4runner-200...
53,E,1998 Toyota Picnic,Nigerian Used,"561,000","291,469",1998,NG-444026,Mainland 1,https://buy.cars45.com/cars/toyota-picnic-1998...
54,D,2006 Honda Accord,Nigerian Used,"781,000","56,576",2006,NG-444106,Port Harcourt,https://buy.cars45.com/cars/honda-accord-2006-...
55,E,2010 Volkswagen Passat,Nigerian Used,"1,661,000","61,710",2010,NG-443982,Mainland 1,https://buy.cars45.com/cars/volkswagen-passat-...
56,B,2011 Toyota Sienna,Nigerian Used,"3,531,000","117,565",2011,NG-443916,Abuja -,https://buy.cars45.com/cars/toyota-sienna-2011...
57,E,2003 Nissan Sunny,Nigerian Used,"341,000",1,2003,NG-443908,Mainland 2,https://buy.cars45.com/cars/nissan-sunny-2003-...
58,C,2012 Lexus Rx,350 Foreign,₦,Mileage:,Year:,ID:,NG-443860 Mainland,https://buy.cars45.com/cars/lexus-rx-350-2012-...
59,C,2009 Hyundai Elantra,Nigerian Used,"781,000","151,656",2009,NG-444074,Port Harcourt,https://buy.cars45.com/cars/hyundai-elantra-20...

In [10]:
cars45.car_use_cond.value_counts()

Nigerian Used         41
Foreign Used           4
Camry Nigerian         2
Accord Nigerian        2
300 Nigerian           2
5 Series               1
4Runner Nigerian       1
350 Nigerian           1
Lr3 Nigerian           1
350 Foreign            1
Crosstour Nigerian     1
330 Nigerian           1
New                    1
2007 Nigerian          1
Name: car_use_cond, dtype: int64