In [ ]:
# DATAQUEST PAGE FOR WEB SCRAPING
# https://www.dataquest.io/blog/web-scraping-beautifulsoup/

In [4]:
import requests
from bs4 import BeautifulSoup

In [25]:
'''
Get the page from the website and return the first 500 words of text
'''
# url = 'https://buy.cars45.com/cars?filter=&year_from=1980&year_to=2019&page=2'
url = 'https://buy.cars45.com/cars&filter=&year_from=1980&year_to=2019'
response = requests.get(url)
print(response.text[:500])

<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta http-equiv="Cache-Control" content="no-cache" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />
  <!-- <meta http-equiv="Cache-control" content="public"> -->
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> -->
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-sc

In [26]:
soup = BeautifulSoup(response.text, 'html.parser')

In [27]:
'''
Check and find within the soup of text generated by beautifulsoup from the website and return all divs with a class=product_box
'''
indi_car = soup.find_all('div', {'class':"product_box"})

In [28]:
indi_car[26].find_all('p')

[<p class="text-small car-origion">Nigerian Used</p>,
 <p class="text-small mb-1">
 <span class="text-muted">Mileage:</span> <span class="intersemibold"> 121,507 Km</span>
 </p>,
 <p class="text-small mb-1">
 <span class="text-muted">Year:</span> <span class="intersemibold">2008</span>
 </p>,
 <p class="text-small mb-1">
 <span class="text-muted">Car ID:</span> <span class="intersemibold">NG-445641</span>
 </p>,
 <p class="text-muted">
                                                                                 Mainland 1 - SNB
                                                                                                                         , Lagos

                                       </p>]

In [33]:
grades = []
car_models = []
car_use_conds = []
prices = []
mileages = []
years = []
car_ids = []
car_locations = []
indi_car_links = []

for each in indi_car:
    car_link = each.a.attrs['href']
    
    grade = each.a.text.strip()
    car_model = each.h4.text.strip()
    car_use_cond = each.find_all('p')[0].text.strip()
    price = each.h5.text.strip()
    mileage = each.find_all('p')[1].text.strip()
    year = each.find_all('p')[2].text.strip()
    car_id = each.find_all('p')[3].text.strip()
    try:
        car_location = each.find_all('p')[4].text.strip()
    except:
        car_location = each.find_all('p')[3].text.strip()
    
    grades.append(grade) 
    car_models.append(car_model) 
    car_use_conds.append(car_use_cond)
    prices.append(price)
    mileages.append(mileage)
    years.append(year)
    car_ids.append(car_id)
    car_locations.append(car_location)
    indi_car_links.append(car_link)

In [34]:
car_ids

['Car ID: NG-441662',
 'Car ID: NG-445897',
 'Car ID: NG-445833',
 'Car ID: NG-445684',
 'Car ID: NG-445621',
 'Car ID: NG-445844',
 'Car ID: NG-445785',
 'Car ID: NG-445836',
 'Car ID: NG-445864',
 'Car ID: NG-445841',
 'Car ID: NG-445750',
 'Car ID: NG-445849',
 'Car ID: NG-445386',
 'Abuja - SNB\n                                                                                                                        , Abuja',
 'Car ID: NG-445851',
 'Car ID: NG-445872',
 'Car ID: NG-445615',
 'Car ID: NG-445598',
 'Car ID: NG-445711',
 'Car ID: NG-445528',
 'Car ID: NG-445832',
 'Car ID: NG-445859',
 'Car ID: NG-445789',
 'Car ID: NG-445431',
 'Car ID: NG-445742',
 'Car ID: NG-445776',
 'Car ID: NG-445641',
 'Car ID: NG-445697',
 'Car ID: NG-445591',
 'Car ID: NG-445768',
 'Car ID: NG-445801',
 'Car ID: NG-445508',
 'Car ID: NG-445574',
 'Car ID: NG-445862',
 'Car ID: NG-445620',
 'Car ID: NG-445583',
 'Car ID: NG-445707',
 'Car ID: NG-445467',
 'Car ID: NG-445618',
 'Car ID: NG-445861',
 'Car ID: NG-445682',
 'Car ID: NG-445723',
 'Car ID: NG-445672',
 'Car ID: NG-445472',
 'Car ID: NG-445713',
 'Car ID: NG-445655',
 'Car ID: NG-445543',
 'Car ID: NG-445687',
 'Car ID: NG-445787',
 'Car ID: NG-445811',
 'Car ID: NG-445803',
 'Car ID: NG-445748',
 'Car ID: NG-445380',
 'Car ID: NG-445608',
 'Car ID: NG-445743',
 'Car ID: NG-445722',
 'Car ID: NG-445462',
 'Car ID: NG-445729',
 'Car ID: NG-445388',
 'Car ID: NG-445480']

In [35]:
car_types = []
fuel_usages = []
gear_types = []

for each in indi_car_links:
    url = each
    response = requests.get(url)
    indi_car_soup = BeautifulSoup(response.text, 'html.parser')


    indi_car = indi_car_soup.find_all('div',{'class' :"row"} )
    
    x = indi_car[2].text
    import re
    pattern = re.compile(r'\s+')
    sentence = re.sub(pattern, '|', x)
    pat = sentence.split('|')
    pat = [line.strip() for line in pat]

    car_type = pat[1]
    fuel_usage = pat[2]
    gear_type = pat[3]
    
    car_types.append(car_type)
    fuel_usages.append(fuel_usage)
    gear_types.append(gear_type)

In [36]:
car_types

['Hatchback',
 'Sedan',
 'Suv',
 'Suv',
 'Suv',
 'Suv',
 'Sedan',
 'Sedan',
 'Sedan',
 'Suv',
 'Sedan',
 'Mpv',
 'Sedan',
 'Hatchback',
 'Sedan',
 'Sedan',
 'Sedan',
 'Pickup',
 'Suv',
 'Mpv',
 'Sedan',
 'Sedan',
 'Suv',
 'Suv',
 'Suv',
 'About',
 'Suv',
 'Mpv',
 'Suv',
 'Suv',
 'Suv',
 'Sedan',
 'Truck',
 'Sedan',
 'Sedan',
 'Sedan',
 'About',
 'Sedan',
 'Suv',
 'Mpv',
 'Suv',
 'Sedan',
 'Suv',
 'Sedan',
 'Sedan',
 'Sedan',
 'Suv',
 'Sedan',
 'Hatchback',
 'Mpv',
 'Sedan',
 'Sedan',
 'Sedan',
 'Sedan',
 'Sedan',
 'Sedan',
 'Mpv',
 'Suv',
 'Mpv',
 'Sedan']

In [1]:
pages = [str(i) for i in range(1,76)]

In [2]:
from time import sleep
from random import randint

In [5]:
grades = []
car_models = []
car_use_conds = []
prices = []
mileages = []
years = []
car_ids = []
car_locations = []
indi_car_links = []


from requests import get
from bs4 import BeautifulSoup
from time import sleep
from random import randint
from time import time;start_time = time()
from IPython.core.display import clear_output
from warnings import warn


pages = [str(i) for i in range(1,76)]

Requests = 0
start_time =time()


'''
Get the page from the website and return the first 500 words of text
'''
for page in pages:

    response = get('https://buy.cars45.com/cars?filter=&year_from=1980&year_to=2019&page=' + page)
    
    # Pause the loop
    sleep(randint(2,15))
    
    # Monitor the request
    Requests += 1
    elapsed_time = time() - start_time
    print('Request:{}; Frequency: {} requests/s'.format(Requests,Requests/elapsed_time))
    clear_output(wait=True)
    
    if response.status_code != 200:
        warn('Request: {}; Status code: {}'.format(Requests, response.status_code))
    
    if Requests > 76:
        warn('Number of requests was greater than expected.')
        
    soup = BeautifulSoup(response.text, 'html.parser')

    '''
    Check and find within the soup of text generated by beautifulsoup from the website and return all divs with a class=product_box
    '''
    indi_car = soup.find_all('div', {'class':"product_box"})

    for each in indi_car:
        car_link = each.a.attrs['href']

        grade = each.a.text.strip()
        car_model = each.h4.text.strip()
        car_use_cond = each.find_all('p')[0].text.strip()
        price = each.h5.text.strip()
        mileage = each.find_all('p')[1].text.strip()
        year = each.find_all('p')[2].text.strip()
        car_id = each.find_all('p')[3].text.strip()
        try:
            car_location = each.find_all('p')[4].text.strip()
        except:
            car_location = each.find_all('p')[3].text.strip()

        grades.append(grade) 
        car_models.append(car_model) 
        car_use_conds.append(car_use_cond)
        prices.append(price)
        mileages.append(mileage)
        years.append(year)
        car_ids.append(car_id)
        car_locations.append(car_location)
        indi_car_links.append(car_link)

Request:75; Frequency: 0.08383329364010429 requests/s

In [16]:
len(car_types)

3042

### Run this Tomorrow

In [18]:
car_types = []
fuel_usages = []
gear_types = []

counter = 0

for each in indi_car_links:
    # Pause the loop
    sleep(randint(5,15))
    
    
    url = each
    response = requests.get(url)
    indi_car_soup = BeautifulSoup(response.text, 'html.parser')


    indi_car = indi_car_soup.find_all('div',{'class' :"row"} )
    
    x = indi_car[2].text
    import re
    pattern = re.compile(r'\s+')
    sentence = re.sub(pattern, '|', x)
    pat = sentence.split('|')
    pat = [line.strip() for line in pat]

    car_type = pat[1]
    try:
        fuel_usage = pat[2]
    except:
        pass
    try:
        gear_type = pat[3]
    except:
        pass
    
    car_types.append(car_type)
    fuel_usages.append(fuel_usage)
    gear_types.append(gear_type)
    counter += 1
    print('This is loop number: ' + str(counter))
    clear_output(wait=True)

KeyboardInterrupt:

In [23]:
import pandas as pd

cars45 = pd.DataFrame({'grade': grades,
'car_model': car_models,
'car_use_cond': car_use_conds,
'price': prices,
'mileage': mileages,
'year':years,
'car_id':car_ids,
'car_location':car_locations,
 "car_type" : car_types,
'fuel_usage' : fuel_usages,
'gear_type' : gear_types, 
'indi_car_link':indi_car_links                       
})

print(cars45.info())
cars45.head(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4454 entries, 0 to 4453
Data columns (total 9 columns):
grade            4454 non-null object
car_model        4454 non-null object
car_use_cond     4454 non-null object
price            4454 non-null object
mileage          4454 non-null object
year             4454 non-null object
car_id           4454 non-null object
car_location     4454 non-null object
indi_car_link    4454 non-null object
dtypes: object(9)
memory usage: 313.2+ KB
None

,grade,car_model,car_use_cond,price,mileage,year,car_id,car_location,indi_car_link
0,A,Suzuki Baleno 2019,New,"₦ 7,300,000",Mileage: 1 Km,Year: 2019,Car ID: NG-441662,SUZUKI Special Centre,https://buy.cars45.com/cars/suzuki-baleno-2019...
1,E,1997 Volkswagen Golf,Nigerian Used,"₦ 451,000",Mileage: 1 Km,Year: 1997,Car ID: NG-445897,Mainland 2 - SNB\n ...,https://buy.cars45.com/cars/volkswagen-golf-19...
2,C,2008 Toyota Highlander,Nigerian Used,"₦ 3,861,000","Mileage: 105,087 Km",Year: 2008,Car ID: NG-445833,Mainland 1 - SNB\n ...,https://buy.cars45.com/cars/toyota-highlander-...
3,D,1999 Lexus Rx 300,Nigerian Used,"₦ 836,000","Mileage: 110,663 Km",Year: 1999,Car ID: NG-445684,Island - SNB\n ...,https://buy.cars45.com/cars/lexus-rx-300-1999-...
4,C,2010 Nissan Murano,Foreign Used,"₦ 1,771,000","Mileage: 171,469 Km",Year: 2010,Car ID: NG-445621,Island - SNB\n ...,https://buy.cars45.com/cars/nissan-murano-2010...
5,E,2003 Honda Pilot,Nigerian Used,"₦ 946,000","Mileage: 168,436 Km",Year: 2003,Car ID: NG-445844,Mainland 2 - SNB\n ...,https://buy.cars45.com/cars/honda-pilot-2003-a...
6,E,2010 Mercedes-Benz E350,Foreign Used,"₦ 3,861,000","Mileage: 124,858 Km",Year: 2010,Car ID: NG-445785,Mainland 1 - SNB\n ...,https://buy.cars45.com/cars/mercedes-benz-e350...
7,D,2010 Toyota Camry,Nigerian Used,"₦ 1,331,000","Mileage: 79,809 Km",Year: 2010,Car ID: NG-445836,Island - SNB\n ...,https://buy.cars45.com/cars/toyota-camry-2010-...
8,C,2002 Toyota Camry,Nigerian Used,"₦ 1,001,000","Mileage: 112,517 Km",Year: 2002,Car ID: NG-445864,Mainland 2 - SNB\n ...,https://buy.cars45.com/cars/toyota-camry-2002-...
9,D,2002 Ford Explorer,Nigerian Used,"₦ 451,000","Mileage: 150,412 Km",Year: 2002,Car ID: NG-445841,Mainland 2 - SNB\n ...,https://buy.cars45.com/cars/ford-explorer-2002...

In [24]:
cars45.to_csv('cars45.csv',index=False)